$color-primary: #025385;
$color-secondary: #025385;
$color-pale: #99BACE;
$color-other: #172347;
$color-mid: #038298;
$color-dark: #038298;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Philosopher", sans-serif;
$header-font: "Philosopher", cursive;

body {
    font-family: $body-font;
}
h1 {
    font-family: $header-font;
    color: $color-pale;
}

 h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
    h2 {
        color: $color-pale;
    }
}

.site-footer {
    background-image: linear-gradient($color-mid, lightgrey);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-other, $color-secondary, $color-dark);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-mid;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    border: solid $color-secondary;
}
.card-header {
    background-image: $color-other;
}
#accordion {
    font-family: $body-font;
}
#carouselButton {
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}